.btn {
    background-color: rgb(249, 249, 250);
    border:#000a0a;
    border-style: inset;
    border-width: 2px;
    color: rgb(3, 0, 0);
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    
    
   }

   .btn:hover {
    background-color: rgb(124, 82, 112);
  }